footer {
  background: #18181c;
  padding: 20px 0;
  .foot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    small {
      color: #fff;
      font-size: 1.2rem;
    }
  }
}
