footer {
  margin-top: 10rem;
  background: #434849;
  padding: 10rem 0;
  @include mq("mobile") {
    margin-top: 5rem;
    padding: 5rem 0;
  }
  .foot {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    @include mq("tablet") {
      width: 100%;
    }
    @include mq("mobile") {
      width: 100%;
    }
    .f-logo {
      img {
        width: 50px;
        display: block;
        margin: 0 auto 2rem auto;
        opacity: .2;
      }
      p {
        color: rgba(255, 255, 255, 0.5);
        font-size: 2.5rem;
        @include mq("mobile") {
          font-size: 1.9rem;
        }
      }
    }
    .go-link {
      ul {
        margin: 3rem auto 5rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          margin: 0 2rem;
          a {
            display: block;
            width: 40px;
            height: 40px;
            font-size: 2.5rem;
            line-height: 5.2rem;
            color: #fff;
            border: 2px solid rgba(255, 255, 255, 0.5);
            border-radius: 100%;
            transition: all .2s ease-in;
            &:hover{
              background:#fff;  
              color:#434849;
              @include mq("mobile") {
                background:none;    
                color:#fff;
              }
            }
          }
        }
      }
    }
    small {
      color:rgba(255, 255, 255, 0.5);
      font-size:1.5rem;
      font-weight: bold;
      @include mq("mobile") {
        font-size: 1.3rem;
      }
    }
  }
}
