/* src/styles/layout/header.scss */
@use '../abstracts/mixins' as *;

header {
  width: 100%;
  // max-width: 1200px;
  margin: auto;
  padding: 1.9rem 0;
  background: #fff;
  position: sticky;
  z-index: 10;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

  .nav-content {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    @include mq('tablet') {
      width: 90%;
    }
    .container {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title-logo {
        min-height: 3.25rem;
        h1 {
          a {
            img {
              width: 50px;
              vertical-align: middle;
              @include mq('mobile') {
                width: 40px;
              }
            }
            em {
              font-size: 3rem;
              vertical-align: middle;
              margin-left: 1.5rem;
              @include mq('mobile') {
                display: none;
              }
            }
          }
        }
      }
      .nav-menu {
        ul {
          align-items: center;
          display: flex;
          gap: 10px;
          li {
            font-size: 2rem;
            cursor: pointer;

            @include mq('mobile') {
              font-size: 1.5rem;
            }
            @include mq('mobile') {
              margin: 0;
              &:first-child {
                margin-right: 1.3rem;
              }
            }
            &:last-child {
              margin-right: 0;
            }

            a {
              font-size: 2rem;
              transition: all 0.2s ease-in;
              @include mq('mobile') {
                font-size: 1.5rem;
              }
              &:hover,
              &.active {
                color: #ffbc2b;
                font-weight: bold;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
