@import './styles/abstracts/mixins';
@import './styles/abstracts/variables';

@import './styles/base/base';

@import './styles/layout/header';
@import './styles/layout/App';
@import './styles/layout/footer';
@import './styles/layout/NotSupport';

.wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  height: auto;
}