@use './styles/base/base';
@use './styles/layout/header';
@use './styles/layout/App';
@use './styles/layout/footer';
@use './styles/layout/NotSupport';

.wrap {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  height: auto;
}
