@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 8px;
  font-family: 'Pretendard', sans-serif, system-ui;

  @media (min-width: 2560px) {
    font-size: 10px;
  }
}

// 1. 마크다운 내부 요소가 아닌 태그들에만 초기 스타일 적용
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
header,
footer,
section,
article {
  // .markdown-body 내부의 모든 자식 요소를 제외합니다.
  &:not(.markdown-body, .markdown-body *) {
    font-family: 'Poppins', sans-serif, system-ui;
    font-size: 10px;
    font-weight: 200;
    line-height: 1.2;
  }
}

// 2. 리스트 스타일 리셋 범위 제한
ol,
ul {
  &:not(.markdown-body, .markdown-body *) {
    list-style: none;
  }
}

// 3. 제목 및 기타 요소 리셋 범위 제한
h1,
h2,
h3,
h4,
h5,
h6 {
  &:not(.markdown-body, .markdown-body *) {
    font-size: 100%;
    font-weight: normal;
  }
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  &:not(.markdown-body, .markdown-body *) {
    font-style: normal;
    font-weight: normal;
  }
}

a {
  &:not(.markdown-body, .markdown-body *) {
    color: #293347;
    text-decoration: none;
  }
}
